body {
	background: #c9d2ff;
}

# container {
	background: 96ffa1;
	height: 900px;
	width: 700px;
}
	
# navigation {
	background: fff236;
	height: 200px;
	width: 700px;
}

# menu {
	float: left;
	background: blue;
	height: 500px;
	width: 300px;
	overflow: scrol;
}

# content {
	float: right;
	background: white;
	height: 500px;
	width: 400px;
}

# footer {
	background: orange;
	height: 200px;
	width: 700px;
}

h1 {
    color: #FCA205;
}

h4 {
    color: red;
}

