{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>Регистрация нового пользоателя</h3>
<form action="" method="POST">
    {% csrf_token %}
    <p><h4>Имя пользователя</h4><input type="text" name="username"></p>
    <p><h4>Пароль</h4><input type="password" name="password"></p>
    <p><h4>Ваш email</h4><input type="text" name="email"></p>
    <p><h4>Ваше имя</h4><input type="text" name="first_name"></p>
    <p><h4>Ваша фамилия</h4><input type="text" name="last_name"></p>
    <p><input type="submit" name="reg_button" value="Регистрация"></p>
</form>
{% endblock %}